@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i');

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  padding: 8px;
}

.title {
  text-align: center;
}

.content-container {
  display: flex;
  flex-wrap: wrap;
  transition: flex 0.3s ease-out;
}

.review-container {
  flex: 1;
  border: 1px solid #ddd;
  padding: 4px;
  margin: 4px;
}

.review-header {
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.selected-review {
  max-height: 300px;
}

.selected-review-body {
  margin: 4px;
  font-size: 1.2em;
}

.selected-date {
  font-style: italic;
  font-size: .8em;
}
